main{
    .about-us{
        
            @include flex(column, center,center,2rem);
            height: auto;  
            div{
                @include flex(row, space-between,center,2rem);
                width: 100%;         
                h2{
                    text-transform: uppercase;
                    max-width: 9rem;
                    font-size: 2.5rem;
                    border-bottom: 1px solid $dark-color;   
                    margin-top: 10rem; 
                }
                img{
                    width: 250px;       
                    margin-top: 10rem;
                }        
            }
            .about-us-p{
                @include flex(row,space-between,center,2rem);
                max-width: 80%;
                font-size: 1.3rem;
                margin-top: 2rem;
                margin-bottom: 10rem;
                div{
                    @include flex(column,center,center,4rem);
                    max-width: fit-content;
                }
            }  
        
    }
    .about-us-banner{
        background-color: $red-light;
        
        .about-us-element{   
            height: auto;
            padding-bottom: 3rem;
            padding-top: 13rem;       
            @include flex(row,center,center,0);
            div{
                @include flex(column,center,center,0);
                &:nth-child(2n){
                    translate: 0 -10rem;
                    width: 50%;
                }
                img{
                    width: 180px;
                }
                p{
                    width: 70%;
                    font-size: 1.3rem;
                    text-align: center;
                    color: $white-color;
                    margin: 0;
                    font-weight: 500;
                }
            }  
    
        }
    }
}