
main{
    .recycle-section{
        background-color: $brown-light;
        height: auto;
        padding-bottom: 5rem;
        @include flex(column,flex-start,center,3rem);
        padding-top: 5rem;
        h2{
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        ul{
            list-style: none;
            @include flex(row,center,center,1rem);
            flex-wrap: wrap;
            li{
                flex-basis: calc(33.33% - 20px); 
                text-align: center; 
                list-style: none;
                margin-top: 3rem;
                
                img{
                    width: 150px;
                    background-color: white;
                    border-radius: 100px;
                    margin-bottom: 0.5rem;
                }
                p{
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
}