@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "../utilities/variables";
@import "../utilities/maps";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    font-family: map-get($font-general, fontprincipal), map-get($font-general,fallback);
    font-weight: map-get($font-general,fontweight);
    color: map-get($font-general, fontcolor);
    font-style: normal;
    scroll-behavior:smooth;
}
body{
    width: 100%;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.desktop-hide{
    display: none;
}
.hidden{
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 5px; 
}
::-webkit-scrollbar-track {
    background-color:$brown-light; 
}
::-webkit-scrollbar-thumb {
    background-color:$brown-color;
    border-radius: 50px;
}



