@media (max-width:600px){
    .mobile-hide{
        display: none;
    }
    header{
        padding-top: 2rem;
        nav{
            ul{
                li{
                    a{
                        font-size: 0.5rem;
                    }
                }
            }
        }
        
        .desktop-hide{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1rem;
            padding-top: 1rem;
            height: 100%;
            img{
                width: 150px;
            }
            label{
                i{
                    font-size: 2rem;
                    color: $brown-color
                }
        
            }
            ul{
                display: flex;
                align-content: center;
                justify-content: space-evenly;
                list-style: none;
            }
        }
        .menu-hamburguesa{
            display: none;
        }
        .menu-hamburguesa:checked + .ul-links{
            height: calc(100vh - 50px);
            padding-top: 3rem;
            padding-bottom: 20rem;   
        }
        
        .list-icon {
            cursor: pointer;
        }
        .ul-links {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 105px;
            left: 0;
            height: 0;   
            display: flex;
            flex-direction: column;
            justify-content: center; 
            overflow: hidden;
            transition: all .3s;
            list-style: none;
            flex-wrap: nowrap;
            background-color: rgba(255, 255, 255, 0.137);
            backdrop-filter: blur(10px);
            
            
            li{
                // #dddddd7c  Color que estaba antes por las dudas
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;      
                a{
                    display: block;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.5rem;
                    color:$dark-color;
                    text-transform: uppercase;   
                    text-align: center;
                    &:hover{
                        filter:brightness(1.4);
                    }
                }
            }
            ul{
                position: absolute;
                width: 100%;
                bottom: 150px;
                padding: 0 7rem;
                li{
                    a{
                        i{
                            text-decoration: none;
                            font-size: 3rem;       
                        }
                    }
                }
            
                        }
        }
        
    }
    main{
        .container{
            width: 100%;
        }
        .first-section{
            background-size: cover;
            background-position: right center;
            .bg-filter{
                backdrop-filter: blur(2px);
                h1{
                    font-size: 1.5rem;
                    font-weight: 900;
                }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    width: 90%
                }
                div{
                    @include flex(column, center,flex-start, 1rem);
                    a:nth-child(1n){
                        padding: 0.5rem 2rem;
                        font-size: 1rem;
                    }
                    a:nth-child(2n){
                        text-align: center;
                        padding: 0.5rem;
                        max-width: 100%;
                    }
                }
            }
        }
        .recycle-section{
            justify-content: center;
            align-items: center;
            
            h2{
                font-size: 1.2rem;
                margin-bottom: 4rem;
            }
            ul{
                li{
                    overflow: visible;
                    margin-top: 0;
                    img{
                        width: 100px;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }
        }
        .about-us{
            justify-content: center;
            
            div{
                
                h2{
                    font-size:1.5rem;
                    margin-top: 8.5rem;
                    margin-left: 1.5rem;
                }
                img{
                    width: 150px;
                    margin-top: 8.5rem;
                    margin-right: 1.5rem;
                }
            }
            .about-us-p{
                flex-direction: column;
                max-width: 90%;           
            }
        }
        .about-us-banner{
            .about-us-element{
                div{  
                    img{
                        width: 120px;
                    }
                    p{
                        font-weight: 400;     
                    }
                }
            }
        }
        .services-section{
            .services-bg{
                .container{
                    .services-title{
                        
                        h2{
                            font-size: 1.5rem;
                            max-width: 100%;
                            margin-left: 1rem;
                        }
                        img{
                            width: 150px;
                        }
                    }
                    .services-order{
                        article{
                            flex-direction: column;
                            width: 90%;   
                            img{
                                width: 150px;
                                height: 150px;
                                border-radius: 10px;
                            }
                            div{
                                max-width: 80%;
                                margin-top: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
        .location{
            h2{
                font-size: 2rem;
            }
            p{
                max-width: 80%;
                font-size: 1rem;
            }
            iframe{
                width: 90%;
                height: 400px;
            }
        }
        .banner-section{
            .bg-filter{
                .container{
                    flex-direction: center;
                        h3{
                            margin-left: 0.5rem;
                        }
                        div{
                            gap: 1rem;
                            margin: 0 1rem;
                            img{
                                width: 150px;
                            }
                            ul{
                                li{
                                    font-size: 1.2rem;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                        h4{
                            text-align: center;
                            font-size: 1.5rem;
                            margin-left: 0.5rem;
                        }
                }
            }
        }
    }
    footer{
        .container{
            .footer-one{
                width: 100%;
            }
        }
    }
}
@media (max-width:390px){
    header{
        #boton-flotante{
            font-size: 2.5rem;
        }
        nav{
            a img{
                width: 150px;
            }
        }
    }
    main{
        .first-section{
            
            .bg-filter{
                
                h1{
                    font-size: 1.5rem;
                    font-weight: 900;
                    margin-top: 30vh;
                }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
                div{
                    a:nth-child(2n){
                        margin-bottom: 3rem;
                    }
                }

            }
        }
        .recycle-section{
            gap: 0;
            h2{
                font-size: 1rem;
            }
            ul{
                li{
                    img{
                        width: 90px;
                        margin: 0 1rem;
                    }
                    p{
                        font-size: 0.8rem;
                        font-weight: 600;
                        margin: 0 0rem;
                    }
                }
            }
        }
        .about-us{
            div{
                flex-direction: column;
                h2{
                    margin: 0;
                    margin-top: 3.5rem;
                    order: 2;
                    text-align: center;
                }
                img{
                    margin: 0;
                    margin-top: 3.5rem;
                }
            }
        }
        .about-us-banner{
            .about-us-element{
                padding: 3rem 0;  
                flex-direction: column;
                div{
                    &:nth-child(2n){
                        translate: 0;
                        width: 90%;
                        
                    }
                    img{
                        width: 100px;
                    }
                    p{                      
                        text-align: center;
                        margin-bottom: 2rem;
                        width: 50%;
                        
                    }
                }  
            }
        }
        .location{
            h2{
                font-size: 1.5rem;
            }
            iframe{
                border-radius: 10px;
            }
        }
        .banner-section{
            .bg-filter{
                .container{
                    align-items: center;
                    h3{
                        font-size: 1.5rem;
                    }
                    div{
                        ul{
                            li{
                                font-size: 1rem;
                            }
                        }
                    }
                    h4{

                    padding: 0 3rem;
                    font-weight: 700;
                    }
                }
            }
        }
        .contact-section{
            .container{
                h2{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
